*
{
  box-sizing: border-box;
}

body
{
  margin: 0;
  font-family: 'Source Sans Pro', Helvetica, Trebuchet MS;
  text-align: center;
  font-size: 0.8rem;
}


.navContainer
{
  background-color: #484848;
  width: 100vw;
  display: flex;
  justify-content: center;
  overflow: visible;
  padding-top: 0.6rem;
}

.navMenu
{
  width: 100%;
  max-width: 1000px;
  display: block;
  padding: 0;
  padding-bottom: 0rem;
  color: #FFFFFF;
}


.menuButtonContainer
{
  display: inline-block;
  position: absolute;
  left: 1rem;
  top: 1rem;
}

.menuButton
{
  transform: scale(1.3, 1.3);
}

.menuButton:hover
{
  cursor: pointer;
}


.currentPageName
{
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  cursor: grab;
  margin: 0;
  padding-right: 1rem;
  text-transform: uppercase;
}


.navList
{
  display: block;
  list-style-type: none;
  margin: 0;
  margin-top: 0.6rem;
  padding: 0;
  width: 100vw;
  background-color: #e6e6e6;
  font-size: 2rem;
  max-height: 0;
  overflow: hidden;
  transition: 1s;
  /*display: none;*/
}

.navListItem
{
  display: block;
  margin-left: 0;
  color: #333333;
}

.navListItem:hover
{
  color: #ffffff;
  background-color: #b3b3b3;
}

.navListItemIcon
{
  vertical-align: middle;
  margin-right: 0.3rem;
}

.currentItem
{
  color: #FBC531;
  cursor: default;
}

.currentItem:hover
{
  color: #FBC531;
  background-color: #e6e6e6;
}

a
{
  text-decoration: none;
  color: inherit;
  transition: 0.5s;
}


.content
{
  width: 100vw;
  height: 60vh;
  padding-top: 5rem;
  font-size: 5rem;
}


@media screen and (min-width: 768px)
{
  .navContainer
  {
    padding: 0.6rem;
  }

  .navMenu
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .menuButtonContainer
  {
    display: none;
  }

  .currentPageName
  {
    position: static;
    left: 0;
    transform: none;
  }

  .navList
  {
    display: block;
    list-style-type: none;
    background-color: #484848;
    font-size: 1rem;
  }

  .navListItem
  {
    display: inline-block;
    margin-right: 1rem;
  }

  a:hover
  {
    color: #b3b3b3;
  }

}
