body
{
  background-color: #373737;
  font-family: BaksoSapi;
  margin: 0;
  text-align: center;
}


.navContainer
{
  background-color: #080808;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.navMenu
{
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.companyName
{
  color: #A41E14;
  cursor: grab;
}

.navList
{
  list-style-type: none;
}

.navListItem
{
  display: inline-block;
  margin-right: 0.5rem;
  color: #8D1703;
}

a
{
  text-decoration: none;
  color: inherit;
}

.navListItemIcon
{
  height: 1.5rem;
  vertical-align: middle;
  margin-bottom: 0.2rem;
}

.currentItem
{
  filter: brightness(75%);
  cursor: default;
}

.navListItem:hover
{
  filter: brightness(200%);
}

.currentItem:hover
{
  filter: brightness(75%);
}

.content
{
  width: 100vw;
  height: 60vh;
  vertical-align: middle;
  padding-top: 5rem;
  font-size: 5rem;
}
